---
import type { SiteMeta } from '@/types/site';
import { siteConfig } from '@/site.config';

type Props = SiteMeta;
const { articleDate, description, ogImage, title } = Astro.props;
const siteTitle = `${title}`;
---

<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<title>{siteTitle}</title>

<meta content={siteTitle} name="title" />
<meta content={description} name="description" />
<meta name="keywords" content="Software Developer, Camilo Huanca Torre, Camilo-J" />
<meta name="robots" content="index, follow" />
<meta name="author" content={siteConfig.author} />

<link rel="icon" type="image/x-icon" href="/public/favicon.svg" />

<meta content={articleDate ? 'article' : 'website'} property="og:type" />
<meta content={title} property="og:title" />
<meta content={description} property="og:description" />
<meta content={siteConfig.title} property="og:site_name" />
<meta content={siteConfig.ogLocale} property="og:locale" />
{
  articleDate && (
    <>
      <meta content={siteConfig.author} property="article:author" />
      <meta content={articleDate} property="article:published_time" />
    </>
  )
}

<meta content={Astro.generator} name="generator" />
